altgraph==0.17.4
blinker==1.9.0
click==8.1.7
colorama==0.4.6
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==24.1
pefile==2023.2.7
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
Werkzeug==3.1.3
